@import url("styles/header.css");
@import url("Styles/banner.css");
@import url("Styles/carrossel.css");
@import url("Styles/topicos.css");
@import url("Styles/contato.css");
@import url("Styles/footer.css");

:root {
  --cor-de-fundo: #ebecee;
  --branco-principal: #ffffff;
  --dourado: #eb9b00;
  --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
  --fonte-principal: "Poppins";
  --azul-escuro: #002f52;
  --preto: #000000;
  --fonte-secundaria:'Josefin Sans';
  --cinza:#474646;
  --cinza-claro:#858585;
  font-family: var(--fonte-principal);
}
body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-size: 400px;
  font-weight: 400;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
hr{
  margin:0;
}