@import url("styles/header.css");
@import url("Styles/banner.css");
:root{
--cor-de-fundo:#EBECEE;
--branco-principal: #FFFFFF;
--dourado:#EB9B00;
--azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
--fonte-principal:"Poppins";
font-family: var(--fonte-principal);

}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size:400px;
    font-weight:400;
}
