.banner {
  background: var(--azul-degrade);
  color: var(--branco-principal);
  text-align: center;
  padding: 2.5em 2em;
}
.banner__titulo {
  font-weight: 700;
  font-size: 18px;
}
.banner__texto {
  font-weight: 500;
  margin: 1em 0;
}
.banner__input {
  border: solid var(--branco-principal) 1px;
  background-color: transparent;
  border-radius: 24px;
  width: 100%;
  padding: 1em;
  color: var(--branco-principal);
}
.banner__input::placeholder {
  font-family: var(--fonte-principal);
  font-size: 14px;
  font-weight: 400;
  color: var(--branco-principal);
  text-align: center;
  background-image: url("../img/Vector.png");
  background-repeat: no-repeat;
  background-position: 1em;
}

@media screen and (min-width:1024px){
  .banner__titulo{
    font-size:36px;
  }
  .banner__input{
    width: 50%;
    
  }
  .banner__input::placeholder{
    background-position:7em;
  }
}
