.banner{
    background: var(--azul-degrade);
    color:var(--branco-principal);
    text-align: center;
    padding: 2.5em 2em;
}
.banner__titulo{
    font-weight: 700;
    font-size: 18px;
}
.banner__texto{
    font-weight: 500;
    margin: 1em 0;
}