.carrossel__titulo {
  font-size: 18px;
  font-weight: 700;
  background-color: var(--branco-principal);
  color: var(--dourado);
  text-align: center;
  padding: 1em 0 0.5em 0;
  text-transform: uppercase;
}
.swiper-slide img {
  width: 100%;
}
.swiper-button-prev,
.swiper-button-next {
  display: none;
}
.swiper-pagination {
  position: initial;
  margin: 0.5em 0;
}
.card__descricao {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.card__botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.botoes__lista {
  display: flex;
}
.card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
}
.descricao__titulo {
  font-size: 16px;
  font-weight: 700;
  color: var(--dourado);
}
.descricao__titulo-livro {
  font-size: 18px;
  font-weight: 700;
  color: var(--azul-escuro);
  margin: 0.5em 0;
}
.descricao__texto {
  font-size: 14px;
  font-weight: 400;
  color: var(--preto);
}
.botoes__item {
  margin: 0 0.5em;
}
.item__img {
  width: 26.67px;
  height: 24.47px;
}
.botoes__link {
  font-size: 16px;
  font-weight: 700;
  padding: 1em 2.2em;
  background-color: var(--dourado);
  color: var(--branco-principal);
  text-decoration: none;
}
.descricao img {
  margin-bottom: 0.5em;
}
.descricao-dois {
  margin-right: 0.5em;
}
@media screen and (min-width:1024px){
  .carrossel__titulo{
    font-size: 26px;
  }
  .swiper-pagination{
    margin: 2em 0 3em 0;
  }
  .swiper{
    width:60%;
  }
  .swiper-button-prev,
.swiper-button-next {
  display: block;
  top:60%;
}
.card{
  width:40%;
  margin:2em auto;
}
}