.contato{
    background-color: var(--branco-principal);
    padding: 2em 1em;

    
    
}
.contato__titulo, .contato__texto,.contato__input{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    

}
.contato__titulo{
    font-size:18px;
    font-weight: 500;
}
.contato__texto{
    margin: 1.5em 0;
}

.contato__input{
    border: solid 1px var(--azul-escuro);
    padding: 1em;
    border-radius:24px;
    width: 90%;
    
}
.contato__input::placeholder{
    font-family: var(--fonte-principal);
    background: url("../img/Email.png") no-repeat;
    padding-left: 2em;
    
    
}
@media screen and (min-width:1024px){
    .contato{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .contato__input{
        width:30%;
    }
    .contato__titulo{
        font-size:24px;
    }
    .contato__descricao{
        margin-right:1em;
        width:30%;
    }
    
}
