.rodape{
    padding:1.5em 1em;
    background-color: #F9F9F9;
}
.lista-rodape{
    display:none;
}
@media screen and (min-width:1024px){
    .lista-rodape{
        display:block;
    }
    .rodape{
        display:flex;
        justify-content: space-around;
    }
    .lista-rodape__item{
        display:flex;
        align-items: center;
        margin:0.6em 0;
    }
    .lista-rodape__link{
        color:var(--cinza);
        margin-left:0.6em;
        font-size: 14px;   
     }
    .lista-rodape__titulo{
        color:var(--cinza-claro);
        font-size:14px;
    }
    .rodape__titulo{
        font-size:24px;
    }

}