.cabecalho__menu-hamburguer {
  width: 24px;
  height: 24px;
  background-image: url("../img/Menu.png");
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}
.cabecalho {
  background-color: var(--branco-principal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container {
  display: flex;
  align-items: center;
}
.container__imagem {
  padding: 1em;
}
.lista-menu {
  display: none;
  width: 60vw;
  position: absolute;
  top: 100%;
}
.container__botao:checked ~ .lista-menu {
  display: block;
 
}
.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--branco-principal);
}
.lista-menu__link {
  color: var(--azul-escuro);
  text-transform: uppercase;
}
.lista-menu__titulo {
  font-weight: 700;
  color: var(--dourado);
}
.container__botao {
  display: none;
}
.cabecalho__titulo {
  display: none;
}
.opcoes {
  display: none;
}
.container__texto{
  display: none;
}
.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer{
  background-image: url("../img/Menu\ Aberto.png");
}
.container__botao:checked ~ .container__rotulo{
  background: var(--azul-degrade);
}
@media screen and (min-width: 1024px) {
  .cabecalho__titulo {
    display: block;
    font-family: var(--fonte-secundaria);
    font-size: 30px;
    font-weight: 400;
  }
  .titulo__negrito {
    font-weight: 700;
  }
  .cabecalho__menu-hamburguer {
    display: none;
  }
  .opcoes {
    display: flex;
  }
  .opcoes__item {
    color: var(--preto);
    padding: 1em 1em;
  }
  .opcoes__link {
    color: var(--preto);
  }
  .imagem-transparente {
    display: none;
  }
  .opcoes__botao:checked~ .lista-menu {
    display:block;
    width: auto;
  }
  .opcoes__botao{
    display: none;
  }
  .opcoes__botao:checked ~ .categorias_id > .opcoes__item{
    color: var(--branco-principal);
    background: var(--azul-degrade);
    
  }
  .lista-menu__item:hover{
    background: var(--azul-degrade);
  }
  .lista-menu__item:hover > .lista-menu__link{
    -webkit-text-fill-color:var(--branco-principal);
      
  }
  
}
@media screen and (min-width: 1728px){
  .container__texto{
    display: block;

  }
  .container__link{
    display:flex;
    align-items: center;
    color:var(--preto);
  }
  .cabecalho{
    padding: 0 2em;
  }
  .opcoes{
    margin-right:auto;
  }
}

