
.cabecalho__menu-hamburguer {
  width: 24px;
  height: 24px;
  background-image: url("../img/Menu.png");
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}
.cabecalho {
  background-color: var(--branco-principal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container {
  display: flex;
  align-items: center;
}
.container__imagem {
  padding: 1em;
}
.lista-menu {
  display: none;
  width:60vw;
}
.container__botao:checked ~ .lista-menu {
  display: block;
  position: absolute;
  top: 100%;
}
.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--branco-principal);
}
.lista-menu__link {
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}
.lista-menu__titulo{
  font-weight: 700;
  color:var(--dourado);
 
}
.container__botao{
  display:none;
}
